.rowElement {
	display: inline-block;
}

.row {
	margin: 1em;
}

.block {
	display: inline;
	margin: 0 1em;
}

.time {
	width: 5em;
	text-align: right;
}

#url {
	width: 30em;
}

h4 {
	margin: 0em;
}

html, body {
	height: 3em;
	text-align: center;
}